<div class="layout-container">
  <p-toolbar styleClass="top-toolbar">
    <div class="p-toolbar-group-start">
      <img src="assets/images/logo/Logo_Agriis.png" alt="agriis Logo" class="logo">
    </div>
    <div class="p-toolbar-group-end">
      <span class="username">{{ user()?.nome }}</span>
      <p-avatar icon="pi pi-user" shape="circle" size="large"></p-avatar>
      <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-text" (click)="userMenu.toggle($event)"></button>
      <p-menu #userMenu [model]="userMenuItems" [popup]="true"></p-menu>
    </div>
  </p-toolbar>
  <div class="content-area">
    <aside class="sidebar">
      <div class="sidebar-menu">
                <p-panelMenu [model]="mainMenuItems" [multiple]="true"></p-panelMenu>
      </div>
    </aside>
    <main class="main-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
